:root {
  --bodyFontFamily: 'Roboto', sans-serif !important;
  --bodyTextColor: #5b5b98;
  --primaryColor: #757fef;
  --secondaryColor: #818093;
  --successColor: #00b69b;
  --infoColor: #2db6f5;
  --warningColor: #ffbc2b;
  --dangerColor: #ee368c;
  --darkColor: #260944;
  --headingColor: #260944;
  --whiteColor: #ffffff;
  --fontSize: 15px;
  --transition: all ease 0.5s;
  --box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}

html,
body {
  background-color: #f5f5f5 !important;
  font-family: var(--bodyFontFamily) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headingColor);
}

::-moz-placeholder {
  font-family: var(--bodyFontFamily) !important;
}

div,
label,
a,
p,
tspan,
span,
li,
table,
tbody,
tfoot,
thead,
th,
td,
canvas,
button,
input,
::placeholder,
abbr,
address,
blockquote,
caption,
cite,
code,
dd,
dl,
mark,
option,
pre,
select,
time,
del {
  font-family: var(--bodyFontFamily) !important;
}
